<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ProductDevelopmentContext"
           connectionString="Data Source=.\sqlexpress;Initial Catalog=ProductDevelopment;Integrated Security=True"
           providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
